body{
    padding: 15px;
}

h1 {
    text-align: center;
    background-image: url(logo-playcode.png);
    background-repeat: no-repeat;
    background-position: center;
}

h1 span {
    visibility: hidden;
    
}

.Cartao {
    margin-bottom: 30px;
}

.Cartao img {
    width: 100%
}

 .Cartao h2 {
    margin:  0;
    color: #4a4a4a;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}

